**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/.venv-backend/
**/.venv-model/
**/venv/
**/env/
**/node_modules/
**/logs/
model/artifacts/*
!model/artifacts/breaking_fake_model_best.pth
model/checkpoints/
model/data/
model/logs/
.git/
.gitignore
.vscode/
README.md
