# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
logz/
venv/
env/
ENV/
env.bak/
venv.bak/

# Model Files
*.pth
*.pt
breaking_fake_vit.pth

# Image testing uploads
*.jpg
*.jpeg
*.png
*.webp
!test_samples/

# Mac OS folder specifics
.DS_Store

# Streamlit config
.streamlit/
